html {
    font-family: Arial;
    color: white;
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right 0px bottom 1050px;
}

a {
    display: block;
    color: rgb(210, 255, 238);
    text-decoration: none;
    font-size: 13px;
    padding: 10px 0px 15px 2px;
}

body {
    background: rgba(36, 22, 7, 0.46);
    background-position: center center;
    width: 295px;
    padding: 50px;
    margin: 70px;
    position: fixed;
    right: 10%;
}

#button {
    border: 0;
    background: #057236;
    padding: 0.5rem 1rem;
    margin: 1px 0px 0px 0px;
    color: rgb(255, 255, 255);
}

label {
    display: block;
    font-size: 15px;
    margin: 0px 0px -5px 0px;
}

input {
    margin: -15px 0px;
}

p {
    color: rgb(210, 255, 238);
}

h1 {
    color: rgb(192, 242, 255);
}